<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragmentos :: headerfiles">
</head>
<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar" sec:authorize="isAuthenticated()">
    <div class="layout-container">
        <!-- Menu -->
        <div th:insert="fragmentos :: menu"></div>
        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar -->
            <div th:insert="fragmentos :: navbar"></div>
            <div class="content-wrapper">
                <!-- Content -->
                <div class="container-xxl flex-grow-1 container-p-y">
                    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Formulario/</span> ticket</h4>
                    <div class="row">
                        <div class="col-xl">
                            <div class="card mb-12">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h5 class="mb-0">Basico</h5>
                                    <small class="text-muted float-end">Default label</small>
                                </div>
                                <div class="card-body">
                                    <form th:action="@{/ticket/guardar}" method="POST" th:object="${ticketDTO}">
                                        <!-- control ataque csrf -->
                                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                        <!-- fin control ataque csrf -->
                                        <div class="mb-3">
                                            <label class="form-label">Tipo ticjet</label>
                                            <select class="form-select"  aria-label="Default select example" th:field="*{ticketEstado}">
                                                <option value="PENDIENTE">PENDIENTE</option>
                                                <option value="EN_PROCESO">EN PROCESO</option>
                                                <option value="FINALIZADO">FINALIZDO</option>
                                                <option value="CANCELADO">CALCELADO</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">descripcion</label>
                                            <input type="text" class="form-control" th:field="*{descripcion}" required placeholder="..." autocomplete="off">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">cliente</label>
                                            <select class="form-select"  aria-label="Default select example" th:field="*{clienteId}">
                                                <option value="#">...</option>
                                                <option th:each="c : ${clientes}"
                                                        th:value="${c.id}"
                                                        th:text="${c.nombre}">
                                                </option>
                                            </select>
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label">productos</label>
                                            <select class="form-select"  aria-label="Default select example" th:field="*{productoId}">
                                                <option value="#">...</option>
                                                <option th:each="p : ${productos}"
                                                        th:value="${p.id}"
                                                        th:text="${p.nombre}">
                                                </option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Servicio</label>
                                            <select class="form-select" aria-label="Default select example" th:field="*{servicioId}">
                                                <option value="">Seleccione</option>
                                                <option th:each="s : ${servicios}"
                                                        th:value="${s.id}"
                                                        th:text="${s.servicioNombre}">
                                                </option>
                                            </select>
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label">Cantidad</label>
                                            <input type="number" class="form-control" th:field="*{cantidad}" required>
                                        </div>
                                        <div class="mb-3"
                                             sec:authorize="hasRole('ADMIN')">
                                            <label class="form-label">Asignar Usuario</label>
                                            <select class="form-select" th:field="*{usuarioId}">
                                                <option value="">Yo mismo</option>
                                                <option th:each="u : ${usuarios}"
                                                        th:value="${u.id}"
                                                        th:text="${u.nombreUsuario}">
                                                </option>
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-primary"><i class="far fa-save"></i>Envoar</button>
                                    </form>

                                    <br>
                                    <a class="btn btn-secondary d-grid w-100" th:href="@{/}">Regresar</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /Content -->
                <div th:insert="fragmentos :: footer"></div>
                <div class="content-backdrop fade"></div>
            </div>
        </div>

    </div>
    <div class="layout-overlay layout-menu-toggle"></div>
</div>

<div th:insert="fragmentos :: scripts"></div>
<div th:insert="fragmentos :: sweetalert"></div>
</body>
</html>